{{ define "title" }}{{ i18n .Data.Plural | default (title .Data.Plural ) }} - {{ .Site.Title }}{{ end }}

{{ define "content" }}
  {{ $termName := .Data.Singular }}
  {{ $terms := .Data.Terms.ByCount }}
  {{ $length := len $terms }}
  {{ $type := .Type }}

  <!-- Categories Page -->
  {{ if and $.Site.Taxonomies.categories (eq $termName "category") }}

    {{ range $terms }}
      {{ $term := .Term }}
      {{ $pages := .Pages }}

      {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
        {{ if gt (len $pages) 4 }}
          <section id="archive" class="archive">
            <div class="archive-title"></div>
            <div class="collection-title">
              <h2 class="archive-year">
                <a href="{{ .Permalink }}">
                  {{ i18n "category" }}{{ $term }}
                </a>
              </h2>
            </div>

            {{ range $pages }}
              <div class="archive-post">
                <time datetime="{{ .Date.Format "2006-01-02" }}" class="archive-post-time">
                  {{ .Date.Format "2006-01-02" }}
                </time>
                <span class="archive-post-title">
                  <a href="{{ .RelPermalink }}" class="archive-post-link">
                    {{ .Title }}
                  </a>
                </span>
              </div>
            {{ end }}
            
          </section>
        {{ end }}
      {{ end }}
    {{ end }}

  {{ end }}

{{ end }}
